.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.header__menu-list {
  display: flex;
  column-gap: 32px;
  list-style: circle;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.header__menu-item_active {
  list-style: none;
}

.header__menu-item_active .header__menu-link {
  text-decoration: none;
}

.header__address {
  display: grid;
  grid-template-columns: 184px 240px;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
}

.header__address-content {
  grid-column-start: 2;
}