.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.header__menu-list {
  display: flex;
  column-gap: 32px;
  list-style: circle;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.header__menu-item_active {
  list-style: none;
}

.header__menu-item_active .header__menu-link {
  text-decoration: none;
}

.address {
  display: flex;
  justify-self: end;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  max-width: 240px;
}

.cover {
  position: relative;
  background: url(../images/cover.jpg) no-repeat center;
  background-size: cover;
  color: #FFF;
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.overlay > * {
  position: relative;
  z-index: 1;
}

.cover__title {
  width: 100%;
  padding: 165px 50px 0;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 100px;
  line-height: 1.15;
  letter-spacing: 30px;
}

.aligned-text {
  display: block;
}

.aligned-text_center {
  text-align: center;
  padding-block: 20px;
}

.aligned-text_right {
  text-align: right;
}

.cover__description {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  column-gap: 113px;
  padding: 106px 50px 50px 50px;
}

.cover__description-text {
  margin: auto;
  text-wrap: nowrap;
  font-weight: 400;
  font-size: 22px;
  line-height: 1.27;
  word-spacing: calc(22px * 0.80);
  color: #FFF;
}

.bet-button {
  margin: auto;
  padding: 12px 32px 11px 31px;
  background: transparent;
  border: 1px solid #FFF;
  text-wrap: nowrap;
  font-weight: 500;
  font-size: 22px;
  color: #FFF;
}

.lots {
  padding: 180px 24px 0;
}

.lots__heading {
  font-weight: 700;
  font-size: 40px;
  color: #000;
  padding: 0 0 27px 40px;
}

.lots__card-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 25px;
  list-style: none;
  padding-bottom: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 48px 40px;
  height: 596px;
}

.card_type_film {
  position: relative;
  background: url(../images/card-lot-01.jpg) no-repeat center;
  background-size: cover;
  color: #FFF;
}

.card_type_book {
  position: relative;
  background: url(../images/card-lot-02.jpg) no-repeat center;
  background-size: cover;
  color: #FFF;
}

.card_type_picture {
  position: relative;
  background: url(../images/card-lot-03.jpg) no-repeat center;
  background-size: cover;
  color: #FFF;
}

.card-link {
  text-decoration: none;
}

.card__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.2;
  text-decoration: underline;
}

.card__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.2;
}

.lots__look-more-link {
  padding-left: 40px;
  font-weight: 400;
  font-size: 20px;
}

.about {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 275px 8px 120px 24px 168px;
  grid-template-areas:
  "logo title ."
  ". . ."
  ". first-paragraph first-paragraph"
  ". . ."
  ". second-paragraph second-paragraph";
  column-gap: 25px;
  padding: 120px 24px 0;
}

.about__logo-image-container {
  display: flex;
  width: 240px;
  height: 240px;
  background-color: #000;
  border-radius: 50%;
  grid-area: logo;
  margin: 35px 47px;
}

.about__logo-image {
  width: 148px;
  height: 114px;
  align-self: center;
  margin: auto;
}

.about__title {
  grid-area: title;
  font-weight: 700;
  font-size: 40px;
  padding-top: 136px;
}

.about__info {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.about__text-first-paragraph {
  grid-area: first-paragraph;
}

.about__text-second-paragraph {
  grid-area: second-paragraph;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 180px 50px 82px;
}

.footer__address {
  justify-self: start;
}

.footer__menu {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 18px;
}

.footer__menu-list {
  list-style: none;
  text-align: center;
}

.footer__menu-item_active {
  list-style: none;
}

.footer__menu-item_active .footer__menu-link {
  text-decoration: none;
}

.footer__social {
  display: flex;
  flex-direction: row;
  column-gap: 48px;
  justify-content: end;
  list-style: none;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}